<ion-content [fullscreen]="true">
  <ion-segment value="default" [(ngModel)]="tab">
    <ion-segment-button value="default">
      <ion-label>1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segunda">
      <ion-label>2</ion-label>
    </ion-segment-button>
    <ion-segment-button value="terceira">
      <ion-label>3</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="tab">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <ion-list *ngSwitchCase="'default'">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="success">1. Dados Gerais</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-radio-group
              [(ngModel)]="pessoa"
              (ionChange)="isChange($event)"
              formControlName="pessoa"
            >
              <ion-item>
                <ion-label>Pessoa Física</ion-label>
                <ion-radio
                  value="fisica"
                  color="success"
                  justify="start"
                ></ion-radio>

                <ion-label>Pessoa Jurídica</ion-label>
                <ion-radio
                  value="juridica"
                  color="success"
                  justify="start"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-item>
              <ion-input
                type="text"
                label="Nome Produtor"
                labelPlacement="floating"
                [(ngModel)]="nomeProdutor"
                formControlName="nomeProdutor"
                required="true"
              ></ion-input>

              <ion-input
                type="text"
                label="Propriedade Rural:"
                labelPlacement="floating"
                [(ngModel)]="propriedadeRural"
                formControlName="propriedadeRural"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="CPF/CNPJ"
                labelPlacement="floating"
                [(ngModel)]="cpfCnpjAtendimento"
                formControlName="cpfCnpjAtendimento"
              ></ion-input>
              <ion-input
                type="text"
                label="RG"
                labelPlacement="floating"
                [(ngModel)]="rg"
                formControlName="rg"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Inscrição Estadual"
                labelPlacement="floating"
                [(ngModel)]="inscricaoEstadual"
                formControlName="inscricaoEstadual"
              ></ion-input>
              <ion-input
                type="text"
                label="Nº.Incra"
                labelPlacement="floating"
                [(ngModel)]="numeroIncra"
                formControlName="numeroIncra"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                type="text"
                label="Tipo Logradouro:"
                labelPlacement="floating"
                [(ngModel)]="tipoLogradouro"
                formControlName="tipoLogradouro"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Logradouro:"
                labelPlacement="floating"
                [(ngModel)]="logradouro"
                formControlName="logradouro"
              ></ion-input>
              <ion-input
                type="text"
                label="Número:"
                labelPlacement="floating"
                [(ngModel)]="numero"
                formControlName="numero"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Bairro:"
                labelPlacement="floating"
                [(ngModel)]="bairro"
                formControlName="bairro"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Localidade:"
                labelPlacement="floating"
                [(ngModel)]="localidade"
                formControlName="localidade"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Distrito:"
                labelPlacement="floating"
                [(ngModel)]="distrito"
                formControlName="distrito"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Município:"
                labelPlacement="floating"
                [(ngModel)]="municipio"
                formControlName="municipio"
              ></ion-input>
              <ion-input
                type="text"
                label="CEP:"
                labelPlacement="floating"
                [(ngModel)]="cep"
                formControlName="cep"
              ></ion-input>
              <ion-input
                type="text"
                label="UF:"
                labelPlacement="floating"
                [(ngModel)]="uf"
                formControlName="uf"
              ></ion-input>
            </ion-item>

            <ion-item>
             
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <ion-list *ngSwitchCase="'segunda'">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="success">2. Endereço para Correspondência</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input
                type="text"
                label="Logradouro:"
                labelPlacement="floating"
                formControlName="logradouroCorrespondencia"
                [(ngModel)]="logradouroCorrespondencia"
              ></ion-input>
              <ion-input
                type="text"
                label="Número:"
                labelPlacement="floating"
                formControlName="numeroCorrespondencia"
                [(ngModel)]="numeroCorrespondencia"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Bairro:"
                labelPlacement="floating"
                formControlName="bairroCorrespondencia"
                [(ngModel)]="bairroCorrespondencia"
              ></ion-input>
              <ion-input
                type="text"
                label="Localidade:"
                labelPlacement="floating"
                formControlName="localidadeCorrespondecia"
                [(ngModel)]="localidadeCorrespondecia"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Distrito:"
                labelPlacement="floating"
                formControlName="distritoCorrespondencia"
                [(ngModel)]="distritoCorrespondencia"
              ></ion-input>
              <ion-input
                type="text"
                label="Município:"
                labelPlacement="floating"
                formControlName="municipioCorrespondencia"
                [(ngModel)]="municipioCorrespondencia"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="CEP:"
                labelPlacement="floating"
                formControlName="cepCorrespondencia"
                [(ngModel)]="cepCorrespondencia"
              ></ion-input>
              <ion-input
                type="text"
                label="UF:"
                labelPlacement="floating"
                formControlName="ufCorrespondencia"
                [(ngModel)]="ufCorrespondencia"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                label="Telefone:"
                labelPlacement="floating"
                formControlName="telefoneCorrespondencia"
                [(ngModel)]="telefoneCorrespondencia"
              ></ion-input>
              <ion-input
                type="text"
                label="Caixa Postal:"
                labelPlacement="floating"
                formControlName="caixaPostalCorrespondencia"
                [(ngModel)]="caixaPostalCorrespondencia"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="email"
                label="Endereço Eletrônico:"
                labelPlacement="floating"
                formControlName="emailCorrespondencia"
                [(ngModel)]="emailCorrespondencia"
              ></ion-input>
            </ion-item>
            <ion-button color="success" size="full" type="submit"
            >Salvar</ion-button
          >
          </ion-card-content>
        </ion-card>
      </ion-list>

      <ion-list *ngSwitchCase="'terceira'">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="success">3. Atuação do Estabelecimento - Tipos de Agronegócios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formAtuacao" (ngSubmit)="submitAtuacao()">
            <ion-item>
              <ion-input
                size="full"
                type="text"
                label="Área(ha.):"
                labelPlacement="floating"
                formControlName="areaAtuacao"
                [(ngModel)]="areaAtuacao"
              ></ion-input>
              <ion-input
                size="full"
                type="text"
                label="Espécie:"
                labelPlacement="floating"
                formControlName="especieAtuacao"
                [(ngModel)]="especieAtuacao"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="string"
                label="Saldo Total:"
                labelPlacement="floating"
                formControlName="totalAtuacao"
                [(ngModel)]="totalAtuacao"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="string"
                label="Exploração Comercial:"
                labelPlacement="floating"
                placeholder="Sim/Não"
                formControlName="exploracaoAtuacao"
                [(ngModel)]="exploracaoAtuacao"
              ></ion-input>
            </ion-item>
            <ion-button color="success" size="full"
              >Adicionar</ion-button
            >
            </form>
            <ion-item>
              <ion-grid>
                <ion-row *ngFor="let atuacao of atuacoes;let i = index">
                  <ion-col>{{i + 1}}</ion-col>
                  <ion-col>{{atuacao.areaAtuacao}}</ion-col>
                  <ion-col>{{atuacao.especieAtuacao}}</ion-col>
                  <ion-col>{{atuacao.totalAtuacao}}</ion-col>
                  <ion-col>{{atuacao.exploracaoAtuacao}}</ion-col>
                  <ion-col style="color: red" (click)="removeAtuacao(i)">X</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </form>
  </div>
</ion-content>
