<ion-header>
  <ion-toolbar color="success">
    <ion-title>Formulário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding: '10px'; marging: '10px'">
  <form [formGroup]="producerForm" (ngSubmit)="getFormData()">
    <div formArrayName="propertyList">
      <div
        *ngFor="let item of propertyListArray().controls; let i = index, let t = index"
      >
        <div [formGroupName]="i">
          <ion-card>
            <ion-card-header>
              <ion-card-title color="success"
                >1. IDENTIFICAÇÃO DO PRODUTOR</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-select
                  label="PESSOA FÍSICA OU JURÍDICA:"
                  label-placement="stacked"
                  formControlName="pessoa"
                >
                  <ion-select-option value="fisica"
                    >Pessoa Física</ion-select-option
                  >
                  <ion-select-option value="juridica"
                    >Pessoa Jurídica</ion-select-option
                  >
                </ion-select>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="LOCALIDADE:"
                  placeholder="ex:123"
                  formControlName="localidadeProdutor"
                />
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="NOME DO PRODUTOR:"
                  formControlName="nomeProdutor"
                />
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="CPF/CNPJ:"
                  formControlName="cpfCnpjProdutor"
                />
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="RG:"
                  formControlName="rgProdutor"
                />
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="Nº INCRA:"
                  formControlName="numeroIncra"
                />
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="INSCRIÇÃO ESTADUAL:"
                  formControlName="InscricaoEstadualProdutor"
                />
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="PROPRIEDADE RURAL"
                  formControlName="propriedadeRural"
                />
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="TIPO LOGRADOURO"
                  placeholder="ex:Rua"
                  formControlName="tipoLogradouro"
                />
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="NÚMERO:"
                  placeholder="ex:123"
                  formControlName="numeroEndProdutor"
                />
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="BAIRRO:"
                  placeholder="ex:Centro"
                  formControlName="bairroProdutor"
                />
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="DISTRITO:"
                  placeholder="ex:123"
                  formControlName="distritoProdutor"
                />
                <ion-button
                type="button"
                color="success"
                *ngIf="propertyListArray().length > 1"
                (click)="removeProperty(i)"
                >Remover Formulário</ion-button
              >
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="CEP:"
                  placeholder="ex:81400-000"
                  formControlName="cepProdutor"
                />
                <ion-input
                  labelPlacement="stacked"
                  type="text"
                  label="MÚNICIPIO:"
                  placeholder="ex:123"
                  formControlName="municipioProdutor"
                />
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title color="success"
                >2. ENDEREÇO DE CORRESPONDÊNCIA</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-input
                  type="text"
                  label="Logradouro:"
                  labelPlacement="floating"
                  formControlName="logradouroCorrespondencia"
                ></ion-input>
                <ion-input
                  type="text"
                  label="Número:"
                  labelPlacement="floating"
                  formControlName="numeroCorrespondencia"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="text"
                  label="Bairro:"
                  labelPlacement="floating"
                  formControlName="bairroCorrespondencia"
                ></ion-input>
                <ion-input
                  type="text"
                  label="Localidade:"
                  labelPlacement="floating"
                  formControlName="localidadeCorrespondecia"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="text"
                  label="Distrito:"
                  labelPlacement="floating"
                  formControlName="distritoCorrespondencia"
                ></ion-input>
                <ion-input
                  type="text"
                  label="Município:"
                  labelPlacement="floating"
                  formControlName="municipioCorrespondencia"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="text"
                  label="CEP:"
                  labelPlacement="floating"
                  formControlName="cepCorrespondencia"
                ></ion-input>
                <ion-input
                  type="text"
                  label="UF:"
                  labelPlacement="floating"
                  formControlName="ufCorrespondencia"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="text"
                  label="Telefone:"
                  labelPlacement="floating"
                  formControlName="telefoneCorrespondencia"
                ></ion-input>
                <ion-input
                  type="text"
                  label="Caixa Postal:"
                  labelPlacement="floating"
                  formControlName="caixaPostalCorrespondencia"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="email"
                  label="Endereço Eletrônico:"
                  labelPlacement="floating"
                  formControlName="emailCorrespondencia"
                ></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title color="success ion-text-uppercase"
                >3. Atuação do Estabelecimento – Tipos de
                Agronegócios</ion-card-title
              >
              <ion-grid>
                <ion-button
                  color="success"
                  size="full"
                  (click)="addNewAtuacao(t)"
                  >Adicionar Atuação</ion-button
                >
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <div [formGroup]="atuacoesFormGroup(t)">
                <div formArrayName="atuacoesSubjectArray">
                  <div
                    *ngFor="let sub of atuacaoArray(t).controls; let g = index;"
                  >
                  <div class="claro">
                    <ion-item slot="start" class="claro">{{g + 1}}</ion-item>
                  </div>
                    <div [formGroupName]="g">
                      <ion-item>
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="ÁREA (HA.):"
                          formControlName="area"
                        />
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="ESPÉCIE ANIMAL (AGRONEGÓCIO):"
                          formControlName="especie"
                        />
                      </ion-item>
                      <ion-item>
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="SALDO TOTAL:"
                          formControlName="saldoTotal"
                        />
                        <ion-select
                          label="EXPLORAÇÃO COMERCIAL:"
                          label-placement="stacked"
                          formControlName="exploracaoComercial"
                        >
                          <ion-select-option value="sim">Sim</ion-select-option>
                          <ion-select-option value="nao">Não</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-button
                          fill="clear"
                          color="danger"
                          size="full"
                          (click)="removeNewAtuacao(i, g)"
                          ><ion-icon name="trash-outline"></ion-icon
                        ></ion-button>
                      </ion-item>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title color="success ion-text-uppercase"
                >4. Tipo de Propriedade</ion-card-title
              >
              <ion-grid>
                <ion-button
                  color="success"
                  size="full"
                  (click)="addNewSubject(i)"
                  >Adicionar Propriedade</ion-button
                >
              </ion-grid>
            </ion-card-header>
            <ion-card-content>
              <div [formGroup]="subjectsFormGroup(i)">
                <div formArrayName="studentSubjectArray">
                  <div
                    *ngFor="let studentSub of subjectsArray(i).controls; let j = index;"
                  >
                    <div class="claro">
                      <ion-item slot="start" class="claro">{{j + 1}}</ion-item>
                    </div>
                    <div [formGroupName]="j">
                      <ion-item>
                        <ion-select
                          label="PROPRIEDADE PRÓPRIA OU ARRENDADA:"
                          label-placement="stacked"
                          formControlName="terreno"
                        >
                          <ion-select-option value="propria"
                            >Própria</ion-select-option
                          >
                          <ion-select-option value="arrendada"
                            >Arrendada</ion-select-option
                          >
                        </ion-select>
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="NOME DO PROPRIETÁRIO:"
                          formControlName="proprietario"
                        />
                      </ion-item>
                      <ion-item>
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="CPF/CNPJ:"
                          formControlName="cpfCnpj"
                        />
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="NÚMERO DO CONTRATO DE ARRENDAMENTO:"
                          formControlName="contrato"
                        />
                      </ion-item>
                      <ion-item>
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="ENDEREÇO:"
                          formControlName="endereco"
                        />
                        <ion-input
                          labelPlacement="stacked"
                          type="text"
                          label="CÓDIGO DA PROPRIEDADE NO SDA:"
                          formControlName="codigo"
                        />
                      </ion-item>
                      <ion-item>
                        <ion-button
                          fill="clear"
                          color="danger"
                          size="full"
                          (click)="removeNewSubject(i, j)"
                          ><ion-icon name="trash-outline"></ion-icon
                        ></ion-button>
                      </ion-item>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title color="success"
                >5. RESPONSABILIDADE PELAS INFORMAÇÕES</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-input
                  type="text"
                  label="NOME DO RESPONSÁVEL:"
                  labelPlacement="floating"
                  formControlName="nomeResponsavel"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="text"
                  label="CPF:"
                  labelPlacement="floating"
                  formControlName="cpfResponsavel"
                ></ion-input>
                <ion-input
                  type="text"
                  label="RG:"
                  labelPlacement="floating"
                  formControlName="rgResponsavel"
                ></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
    <!-- <ion-button color="success" size="full" (click)="addStudent()"
          >Adicionar Propriedade</ion-button
        > -->
      
        <ion-grid>
          <ion-button
            color="success"
            size="full"
            id="present-alert"
            >Finalizar</ion-button
          >
        </ion-grid>
    <ion-alert
      trigger="present-alert"
      header="Declaro, estando ciente do artigo 299 do código penal brasileiro, que todas as informações prestadas neste
          formulário são verdadeiras e que qualquer alteração nestas informações será comunicada imediatamente ao
          órgão de defesa sanitária animal."
      [buttons]="alertButtons"
      (didDismiss)="setResult($event)"
    ></ion-alert>
  </form>
</ion-content>
