ion-content {
  --background: var(--ion-color-primary);
}
ion-card {
    --background: var(--ion-color-secondary);
}
ion-card-title {
    --background: var(--ion-color-primary);
}
.claro {
    background-color: var(--ion-color-tertiary);
}
