ion-button[color="dark"]{
    text-transform: initial;
}

ion-card {
    background-color: #fff;
    width: 800px;
}
ion-input {
    --background: #fff;
    --color: #000;
}
ion-card-content {
    --background: #fff;
    --color: #000;
}
ion-item {
    --background: #fff;
    --color: #000;
}
ion-col {
    --color: #000;
}